<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MTGO Vanguard Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="counters.ctrl.js"></script>
</head>
<body ng-app="app" ng-controller="MainController as main">
	<div class="container">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li>
					<a href="../index.html">Momir generator</a>
				</li>
				<li>
					<a href="../jhoira.html">Jhoira Generator</a>
				</li>
				<li class="active">
					<a href="#">Life Counters</a>
				</li>
			</ul>	
		</nav>
		<div class="clearfix"></div>
		<div class="col-xs-6 pull-left">
			<h2>Player 1</h2>
			<br />
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerOne = main.playerOne - 5">-5</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerOne = main.playerOne - 1">-1</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerOne = main.playerOne + 1">+1</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerOne = main.playerOne + 5">+5</button>
			<h2>{{main.playerOne}}</h2>
			<h3>Poison Counters</h3>
			<h3>{{main.playerOnePoison}}</h3>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerOnePoison = main.playerOnePoison - 1">-1</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerOnePoison = main.playerOnePoison + 1">+1</button>
		</div>
		<div class="col-xs-6 pull-right">
			<h2>Player 2</h2>
			<br />
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerTwo = main.playerTwo - 5">-5</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerTwo = main.playerTwo - 1">-1</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerTwo = main.playerTwo + 1">+1</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerTwo = main.playerTwo + 5">+5</button>
			<h2>{{main.playerTwo}}</h2>
			<h3>Poison Counters</h3>
			<h3>{{main.playerTwoPoison}}</h3>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerTwoPoison = main.playerTwoPoison - 1">-1</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.playerTwoPoison = main.playerTwoPoison + 1">+1</button>
		</div>
	</div>
</body>
</html>